/*.header-img {
    display: flex;
    justify-content: center;
}*/

.header {
    height: 120px;
    display: flex;
    align-items: center;
    text-align: center;
    background: rgb(77, 59, 55);
}

.header .header-menu,
.header-logo,
.logo {
    height: 100%;
}

.header-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header .header-menu a {
    color: #fbead9;
    text-decoration: none;
    margin: 20px;
    font-size: 20px;
    transition: color 0.5s ease;
    text-align: center;
}

.header-menu a:hover {
    color: #fbead9;
    border-bottom: 5px solid #fbead9;
}

@media(max-width: 768px) {

   
    .logo {
        display: none;
    }
}