

.header-container .header-row {
    height: 120px;
    display: flex;
    align-items: center;
    text-align: center;
    background: rgb(77, 59, 55) !important;
}

.header-row .header-menu,
.header-logo,
.logo {
    height: 100%;
    margin-left: -60px;
}

.header-row .header-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-row .header-menu a {
    color: #fbead9;
    text-decoration: none;
    margin: 20px;
    font-size: 20px;
    transition: color 0.5s ease;
    text-align: center;
}

.header-menu a:hover {
    color: #fbead9;
    border-bottom: 5px solid #fbead9;
}

@media (max-width: 576px) {

    .header-container .header-row .header-menu {
     padding: 0 0 0 50px;
    }
   
    .logo {
        display: none;
    }
}


