.home {
    height: 77.3vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.homeContainer {
    padding: 20px;
    margin-bottom: 45px;
}

.homeContainer .home-title,
.home-para {
    color: #fbead9;
    font-weight: bold;
    height: 60px;
}


.home-para {
    font-size: 35px;
    font-weight: 150;
}

.homeContainer button {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fbead9;
    width: 220px;
    height: 60px;
    border: none;
    margin-right: 10px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}

.homeContainer button:hover {
    background-color: #c21c1c;
    transition: background-color 0.5s ease;
}


@media(max-width: 768px) {

    .home .homeContainer{
        margin-top:168px;
    }

    .home .homeContainer .home-title {
        font-size: 25px;
    }

    .home .homeContainer .home-para {
        font-size: 20px;
        font-weight: bolder;
    }

    .homeContainer button {
        background-color: rgba(0, 0, 0, 0.8);
        color: #fbead9;
        width: 220px;
        height: 60px;
        border: none;
        margin-right: 10px;
        font-size: 20px;
        text-align: center;
        padding: 10px;
        border-radius: 15px;
        cursor: pointer;
    }

}