
.item-cards {
    width: 400px;
    margin: 10px;
    border-radius: 1rem;
}

.item-cards.active {
    background-color: rgb(77, 59, 55);
    color: #fbead9;
}

.item-cards.none {
    background-color: #fbead9;
    color: black;
}

.item-cards button {
    margin: 1rem 0;
    padding: 0 50px;
    background-color: rgb(77, 59, 55) !important;
    color: #fbead9;
    font-weight: bold;
}


.item-cards.active button {
    margin: 1rem 0;
    padding: 0 50px;
    background-color: #ddd4c2 !important;
    color: #383e3efa !important; 
    font-weight: bold;
}

.item-cards.active button:hover {
    margin: 1rem 0;
    padding: 0 50px;
    background-color: rgb(134, 96, 87) !important;
    color: #fbead9 !important; 
    font-weight: bold;
}

.item-img {
    margin: 10px 0;
    border-radius: 1rem;
}

.item-body, .item-title p {
    text-align: center;
}

